FIREBASE_PROJECT_ID=
FIREBASE_PRIVATE_KEY_ID=
FIREBASE_PRIVATE_KEY=
FIREBASE_CLIENT_EMAIL=
FIREBASE_CLIENT_ID=

API_HOST=127.0.0.1
API_PORT=8000

TRAIN_SAMPLE_SIZE=5000
PREDICTION_SEQUENCE_LENGTH=10

CARBON_WEIGHT=0.25
RESOURCE_WEIGHT=0.30
PREDICTION_WEIGHT=0.25
DEADLINE_WEIGHT=0.10
ISOLATION_WEIGHT=0.10

SIMULATION_MODE=true
